.movie-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  /* max-width: 40%; */
  flex-direction: row;
  margin: .5em 0;
  background-color: #9A8C98;
  opacity: 1;
  border-radius: 8px;
}

.movie-item:hover {
  opacity: 0.7;
  
}

.movie-item-details {
  align-self: center;
  margin-bottom: .5em;
  margin-left: .2em;
}